html{
    box-sizing: border-box;
    font-size: 1.2vw;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    line-height: 2;
    /* background-color: rgb(255,172,170); */
    /* background-color: rgb(255,113,113); */
    background-color: rgb(255,255,255);
    /* max-resolution: 10%; */
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Ranchers";
    src: url(Ranchers-Regular.ttf)
}
h1, h2, h3{
    font-size: 6rem;
    font-family: Ranchers;
    color: rgb(107, 3, 0);
    margin: 10px;
}

a, p{
    color: rgb(107, 3, 0);
    font-size: 26px;
    font-family: Candara, sans-serif;
}


h2{
    font-size: 4.25rem;
}

h3{
    font-size: 2.25rem;
}
.new{
    /* border: 2px solid black; */
    overflow: hidden;
    /* background-color: rgb(255,172, 170); */
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 25px;
    /* padding-bottom: 15px; */
    /*height: 395px;*/
}

.text{
    /* overflow: auto; */
    /*width: 700px;*/
    width: 55%;
    /*height: 500px;*/
    float: left;
    /* margin-bottom: 15px; */
}

.new h2{
    /* border: 2px solid black; */
    text-align: left;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.new h3{
    /*border: 2px solid black; */
    /*height: 100%;*/
    display: inline-block;
    float: left;
    margin: 0px;
    margin-right: 20px;
    margin-left: 25px;
    margin-bottom: 100px;
    padding-bottom: 0px;
    font-size: 1.75rem;

}

.new img{
    /* border: 2px solid black; */
    display: inline-block;
    margin: 3px 5px;
    height: 225px;
}

.new p{
    /* border: 2px solid black; */
    /* display: inline-block; */
    margin: 0px;
    padding-right: 5px;
    font-size: 1.2rem;
    /*width: 85%; */
}

.child{
    font-size: 3rem;
    text-align: center;
}

.head{
    width: 100%;
    height: 8.5%;
    color: rgb(255, 255, 255);
    background-color: rgb(255,172,170);
    /* background-color: rgb(255,113,113); */
    /* border-bottom: 5px solid rgb(107, 3, 0); */
    box-shadow: 0px 5px 5px rgb(107, 3, 0);
    /* border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: block;
}

.head a, .head h1{
    margin-top: -3px;
    margin-left: 18px;
}

.head h1{
    font-size: 2rem;
}

.head a{
    font-size: 1.5rem;
}

.disp{
    width: 100%;
    /*height: 450px;*/
    height: 27em;
    background-image: url(City-Sun.jpeg);
    background-size: 100%;
    position: relative;
    top: 40px;
    display: block;
    background-position: top-right;
    /* border: 0px solid black; */
    padding: 0px;
    margin: 0;
}

.disp h1{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.disp p{
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navhead{
    /* background-color: white; */
    /* font-size: 3rem; */
    display: inline-block;
    /* padding: 5px; */
    /* margin-left: -20px; */
    /* margin-top: -17px; */
    /* margin-bottom: auto; */
}
.navA{
    font-weight: bold;
    /* font-size: 2em; */
    position: relative;
    left: 5%;
    margin-right: 20px;
    /* margin-top: -17px; */
    /* margin-bottom: auto; */
}

img{
    padding: 10px;
    margin: 5px;
    border: 3px solid rgb(107, 3, 0);
    border-radius: 10px;

}


#About-Me{
    margin-bottom: -15px;
    margin-left: 20px;
    /* display: flex; */
    /* justify-content: center; */
}

#picD{
    /*border: 2px solid black;*/
    float: left;
    width: 15%;
    margin: 0px 20px 20px;
}

.sub{
    font-size: 2em;
}

#description{
    /* border: 2px solid rgba(0,0,0, 0.4); */
    /* background-color: rgb(255,113,113); */
    background-color: rgb(255,172,170);
    /* background-color: rgb(255,255,255); */
    width: 100%;
    overflow: auto;
    /*height: 50%;*/
    /* margin-top: 20px; */
    padding-top: 30px;
    margin-bottom: 15px;
}

#description p{
    margin-right: 20px;
}

.photoshop , .illustator, .gifHub{
    overflow: hidden;
    /* border: 3px solid black; */
    /* background-color: rgb(255,172, 170); */
    background-color: rgb(255, 255, 255);
    margin: 25px 0px;
    padding-top: 20px;
}

.photoshop h2, .illustator h2, .gifHub h2{
    padding-top: 20px;
}

.illustator{
    /* background-color: white; */
    background-color: rgb(255,172, 170);
}

.colOne{
    display: flex;
    justify-content: space-around;
    /* margin-top: 15px; */
    margin: 10px 0px;
}

.colTwo{
    display: flex;
    justify-content: space-around;
}

.colThree{
    display: flex;
    justify-content: space-around;
}

.picContainer{
    /* border: 3px solid rgb(107, 3, 0);; */
    display: inline-block;
    width: 29%;
    height: 325px;
    padding: 5px;
    margin: 10px 20px;
    float: left;
}
.picContainer h3{
    /* border: 1px solid black; */
    width: 100%;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 0px;
}
.picContainer img{
    display: block;
    border-style: none;
    border-radius: 5px;
    padding: 0px;
    /* width: 310px; */
    /* height: 240px; */
    margin: 5px auto;
}

.illustator .picContainer img, .gifHub .picContainer img{
    width: 80%;
    height: 275px;

}

.illustator .picContainer, .gifHub .picContainer{
    width: 40%;
    height: 375px;
}

#photo{
    padding-top: 40px;
    margin-top: -25px;
    margin-bottom: 0px;
    /* border: 2px solid black; */
}

#adobeIll{
    padding-top: 40px;
    margin-top: -25px;
    margin-bottom: 0px;
    /* border: 2px solid black; */
}

#gif{
    padding-top: 40px;
    margin-top: -25px;
    margin-bottom: 0px;
    /* border: 2px solid black; */
}
